:root {
	--color-1: #150E28;
	--color-2: #903AFF;
	--color-3: #D434FE;
	--color-4: #FF26B9;
	--color-5: #37236A;
	--primary-background: linear-gradient(270deg, #903AFF 0%, #FE34B9 100%);
}

@font-face {
	font-family: 'montserrat';
	src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'clash-display';
	src: url('../fonts/Clash-Display/Fonts/Variable/ClashDisplay-Variable.ttf');
}

@font-face {
	font-family: 'unica-one';
	src: url('../fonts/Unica-One/UnicaOne-Regular.ttf');
}

.font-montserrat {
	font-family: 'montserrat';
}

.font-clash-display {
	font-family: 'clash-display';
}

.bg-color-primary {
	background-image: var(--primary-background) !important;
}

.bg-color-1 {
	background-color: var(--color-1) !important;
}

.bg-color-2 {
	background-color: var(--color-2) !important;
}

.bg-color-3 {
	background-color: var(--color-3);
}

.text-1 {
	color: var(--color-3);
}

.text-2 {
	color: var(--color-4);
}

.text-3 {
	color: #4f2e93
}

.border-color-site {
	border-color: #FFFFFF2E !important
}

.border-color-1 {
	border-color: var(--color-3) !important
}

body {
	background-color: var(--color-1);
	font-family: 'montserrat';
	font-size: 16px;
	color: #FFFFFF;
}

.navbar, section {
	background-color: var(--color-1) !important;
}

footer, #rewards {
	background-color: #150E28F5 !important;
}

footer {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.navbar-toggler {
	box-shadow: none !important;
	outline: none !important;
}

.btn {
	border: none !important;
	padding: .3rem 1.5rem !important;
	color: rgb(255, 255, 255) !important;
}

.btn:hover {
	color: rgb(244, 244, 244) !important;
}

.heading {
	margin-bottom: 1.5rem;
}

li.nav-item:not(:last-of-type) {
	margin-right: 1rem;
}

.nav-item:last-child {
	margin-left: 3rem;
}

.countdown-timer > div {
	font-family: 'unica-one';
	font-size: 44px;
}

.countdown-timer > div:not(:last-of-type) {
	margin-right: 2rem;
}

.countdown-timer span {
	font-family: 'montserrat';
	font-size: 16px;
}

.question:not(:last-child) {
	margin-bottom: 1rem;
}

.question-heading {
	display: flex;
	align-items: center;
	flex: 0 0 auto;
	justify-content: space-between;
	cursor: pointer;
	padding-bottom: .5rem;
}

.timeline-wrapper:not(:last-child) {
	margin-bottom: 2.5rem;
}

.timeline-wrapper > .row {
	position: relative;
}

.timeline-wrapper .timeline-sn {
	background-image: var(--primary-background);
	border-radius: 50%;
	border: 2px solid var(--color-1);
	font-size: 12px;
	font-weight: bold;
	width: 35px;
	height: 35px;
	top: 90%;
	left: -2.6%;
	transform: translate(-50%, -50%);
	position: absolute;
	
}

.timeline::before {
	content: " ";
	width: 3px;
	top: 0;
	bottom: 0;
	left: 0;
	/* transform: translateX(-50%); */
	background-image: var(--primary-background);
	position: absolute;
}

.bronze-medal, .silver-medal, .gold-medal {
	bottom: 100%;
	left: 50%;
	transform: translate(-50%, 40%)
}

.bronze-medal, .silver-medal {
	width: 160px
}

.gold-medal {
	width: 190px;
	transform: translate(-50%, 35%) !important;
}

.navbar .flare {
	width: 100%;
	top: 100%;
	left: 0;
	transform: translate(-20%, 0);
}

#partners .card .top {
	padding: 0 1rem .5rem;
}

#partners .card .top:nth-child(1):after, #partners .card .top:nth-child(2):after {
	position: absolute;
	content: "";
	top: 100%;
	left: 100%;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	z-index: 10;
	background-color: var(--color-1);
	transform: translate(-50%, -50%);
}

#initial .heading h1 {
	font-size: 40px;
}

#initial .lead-text {
	font-size: 18px;
}

#partners .card .bottom {
	padding: .5rem 1rem 0;
}

#initial .idea {
	top: 0;
	left: 89%;
	width: 25px;
	transform: translate(-50%, -68%);
}

#rewards .prize {
	padding-bottom: 10rem;
}

.form-control {
	border-color: grey;
}

.form-control::placeholder {
	color: grey !important;
}

@media (min-width: 992px) {
	.timeline-wrapper .timeline-sn {
		border-width: 5px !important;
		width: 55px;
		height: 55px;
		top: 20%;
		left: 50%;
		font-size: 18px;
		transform: translate(-50%);
		position: absolute;
		
	}
	
	.timeline::before {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
	
	.navbar .flare {
		width: 80%;
		top: 0;
		left: 5%;
		transform: translate(-5%, -25%);
	}
	
	#initial .idea {
		top: 0;
		left: 89%;
		width: 35px;
		transform: translate(-50%, -68%);
	}
	
	#initial .heading h1 {
		font-size: 60px;
	}
	
	#initial .lead-text {
		font-size: 25px;
	}
	
	#partners .card .top:nth-child(1):after, #partners .card .top:nth-child(2):after {
		width: 40px;
		height: 40px;
	}
}

@media (min-width: 1400px) {
	.bronze-medal, .silver-medal {
		width: 170px
	}
	
	.gold-medal {
		width: 270px;
	}
}

